.navbar_container {
	color: var(--text);
	height: var(--nav-size);
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	border-bottom: 0.5px solid var(--color);
	background-color: var(--bg);
}

.navbar_logo_section {
	margin: auto 0 auto 5vw;
}

.navbar_logo_section_link_wrapper {
	display: flex;
	flex-direction: row;
	color: var(--text);
	text-decoration: none;
}

.navbar_header {
	font-size: 1.2rem;
	margin: auto 0 auto 0;
	padding-left: 1rem;
}

.navbar_logo {
	height: 6vh;
	border: 2px solid var(--text);
	border-radius: 30%;
}

.navbar_logo:hover {
	animation: hoverLogo 1500ms infinite ease-in-out;
}

@keyframes hoverLogo {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1vh);
	}
	100% {
		transform: translateY(0);
	}
}

.navbar_links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5vw;
	max-width: 100%;
	max-height: 100%;
}

.navbar_element {
	padding: 0.5rem 0 0.3rem 0;
}

.navbar_link {
	padding: 0.5rem 1rem 0.3rem 1rem;
}

.navbar_element:hover {
	cursor: pointer;
	filter: brightness(150%);
}

.navbar_element:after,
.navbar_element:before {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	transition: all 300ms ease;
	transition: all 300ms ease-in;
}

.navbar_element:before {
	top: 100%;
	right: 0;
}

.navbar_element:after {
	bottom: 100%;
	left: 0;
}

.navbar_element:hover::before {
	width: 100%;
	top: 100%;
	background-color: var(--color);
}

.navbar_element:hover::after {
	width: 100%;
	bottom: 100%;
	background-color: var(--color);
}

.navbar_link {
	text-decoration: none;
	color: var(--text);
}

.navbar_dropdown {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5vw;
	max-width: 100%;
	font-size: 2rem;
	color: var(--text);
}

.navbar_dropdown_btn {
	transition: all 500ms ease-in;
}

.navbar_dropdown_btn:hover {
	cursor: pointer;
	filter: brightness(150%);
}
