:root {
	--bg: #242424;
	--bg-accent: #5c5c5c;
	--text: #e0e0e0;
	--text-accent: #5c5c5c;
	--color: #046abc;
	--color-accent: #1594da;
	--alt: #f7294f;
	--alt-accent: #fecc51;
	--nav-size: 10vh;
	--main-size: 90vh;
	--footer-size: 25vh;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-accent);
	font-family: 'Rockwell';
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
